

<div>
<h1>All transactions</h1>
<table>
  <tr>
    
    <th>Amount</th>
    <th>Day</th>
    <th>Merchant</th>
    <th>Tag</th>
    <th></th>
    <th></th>
   
  </tr>
  <% for transaction in @transactions %>
  <tr>
    <td><%= transaction.amount %></td>
    <td><%= transaction.date %></td>
    <td><%= transaction.merchant.name %></td>
    <td><%= transaction.tag.name %></td>
    <td style='white-space: nowrap'>
    <form action="/transactions/<%= transaction.id %>/show" method="GET">
           <input class="btn btn--danger" type="submit" value="Edit" />
         </form>
         </td>
         <td>
         <form action="/transactions/<%= transaction.id %>/delete" method="POST">
           <input class="btn btn--danger" type="submit" value="Delete" />
         </form></td>
  </tr>
  <% end %>
</table>
</div>  


