

<div>
<h1>All transactions</h1>
<table>
  <tr>
    <th>ID</th>
    
    <th>Amount</th>
   
    <th>Day</th>
    
    <th>Merchant</th>
  
    <th>Tag</th>
  </tr>
  <% for transaction in @transactions %>
  <tr>
    <td><%= transaction.id %></td>
   
    <td><%= transaction.amount %></td>
 
    <td><%= transaction.date %></td>
  
    <td><%= transaction.merchant.name %></td>
 
    <td><%= transaction.tag.name %></td>
  </tr>
  <% end %>
</table>
</div>  
<div>
  <p>Select a Transaction ID to change or delete that transaction</p>
</div>

